﻿html, body, #map-canvas {
	height: 100%;
	margin: 0px;
	padding: 0px;
}

/* UA Branding Bar*/
header {background:#ab0520; color:#d2dfe5; padding:0; height:40px;z-index:999;position:absolute;width:100%;}
  #UA_OGI_Logo {width:230px; height:50px;display:block;float:left;padding-left:20px;}
   #UA_OGI_Logo img {display:block;border:0 none;}
   #header-ualogo {position:relative; top:5px; display:block;vertical-align:top;float:right;padding-right:20px;}
   
#DataPanel {
	position:absolute;
	left: 38px;
	bottom:38px;
	z-index:2;
	width:280px;
    box-shadow: 2px 2px 10px #888888;
	background:#fff;
	border:solid;
	border-width:thin;
	height:auto !important;
}

.DataPanel_Header {
    padding-top:12px;
    padding-bottom:6px;
	font-size:24pt;
    font-family:'Milo OT Bold', sans-serif;
    color:#a60520;
	text-align:center;
    background:#fff;
}

.DataPanel_Subheader{
   font-size:8pt;
   font-weight:bold;
   background:#fff;
   text-align:center;
   padding-bottom:6px;
}

.DataPanel_InnerBox {
	padding:12px;
	color:black;
	background:#d7ecf6;
}

.DataPanel_Title {
	font-size:18pt;
    font-family:'Milo OT Bold', sans-serif;
    color:#960520;
	padding: 3px 0px 0px 0px;
}

.DataPanel_Text {
	font-size:12px;
	font-family:'Milo OT Bold', sans-serif;
	padding: 3px 0px 0px 0px;
}

.DataPanel_Label {
    font-family:'Milo OT Bold', sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#002147;
	padding: 0px 4px 0px 4px;
}

.DataPanel_FormContainer {
	text-align:right;
	padding: 18px 48px 12px 0px;
}

.DataPanel_FormElement {
	width:120px;
	font-size:12px;
	border-radius:6px;
	margin-bottom:6px;
}

.DataPanel_Legend {
	font-size:12px;
    font-family:'Milo OT Bold', sans-serif;
	padding:0px 0px 10px 12px;
	text-align:left;
}

/* Partners only tweak*/
.DataPanel_Legend2 {
	font-size:12px;
    font-family:'Milo OT Bold', sans-serif;
	padding:0px 0px 12px 48px;
	text-align:left;
}

.DataPanel_LegendText {
	font-family:'Milo OT Bold', sans-serif;
	font-size:12px;
	padding: 0px 36px 0px 72px;
}

.DataPanel_SourceLabel {
	color:#AB0520;
	font-weight:bold;
}

.InfoWindow_InnerDiv {
	max-width:450px;
    max-height: 400px;
}

.InfoWindow_Country {
	font-size:x-large;
    color:#960520;
	font-weight:bold;
}

.InfoWindow_Title {
	font-size:x-large;
    color:#960520;
	line-height:110%;
}

.InfoWindow_Title2{
font-size:x-large;
    color:#960520;
	line-height:110%;
}

.InfoWindow_SubTitle {
	padding:3px 0px 0px 0px;
    font-size:larger;
    font-weight:bold;
 }

.InfoWindow_Desc {
	padding:3px 0px 12px 0px;
    font-weight:bold;
}

.InfoWindow_Overview {
    padding: 3px 0px 12px 0px;
    font-size: smaller;
    font-weight: normal;
}

.InfoWindow_Contact {
    padding: 3px 0px 0px 0px;
    font-size: small;
    font-weight: lighter;
}

.InfoWindow_Description {
	padding:0px 0px 24px 0px;
}

.InfoWindow_UpRight {
	float:right;
}

.Legend_Title {
    font-size:x-large;
    font-family:'Milo serif Regular';
    color:#a60520;
}

.TimeSeriesSquare {
	padding:3px;
	width:24px;
}
.TimeSeriesSquare2 {
	padding:3px;
	width:50px;
}

.InfoWindow_InnerDiv3{
    border-top: solid;
    border-width: 1px;
    padding-right: 30px;
}

/* Using this class in the partners info window.*/
.InfoWindow_InnerDiv4{
    border-top: solid;
    border-width: 1px;
    padding-right: 30px;
    margin-top: 2px;
    margin-bottom: 4px;
}

/* Using this class in the partners info window for changing the top and bottom margins.*/
.InfoWindow_spacing{
    margin-top: 10px;
    margin-bottom: 2px;
}

.gm-style-iw div { 
 overflow-x:hidden !important; 
}

.Travel2
{
    line-height: 5px;
    margin-left: 20px;
    margin-right: 30px;
    font-size: 12px;
    display: inline-block;
    overflow: hidden;
}

.Travel2 p{
    white-space: nowrap;
}

.gm-style-iw div div{
    overflow: hidden;
}

.pull-left{
    margin-left: -11px;
}

.DataPanel_Legend p{
    display: inline-block;
    padding-left: 10px;
    text-align: right;
}

/*Style for the login button*/
#loginBtn {
    text-align: left;
    vertical-align: middle;
    /*border-radius: 8px;*/
    text-decoration: underline;

    position: absolute;
    top: 97%;
    transform: translateX(-50%);
    transform: translateY(-50%);
}
#loginBtn:hover,
#loginBtn:focus {
    color: #0000ff;
    text-decoration: underline;
    cursor: pointer;
}
#loginBtn:active {
}

#Percent
{
    margin-left:-5%;
}

#loading {
    background-color: rgba(1, 1, 1, 0.6);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 999;
    display:none;
}

#loading_box {
     width:50px;
     height:50px;
     margin:0 auto;
     position:absolute;
     left:50%;
     top:50%;
     margin-left:-25px;
     margin-top:-25px;
     z-index: 1000;
}
